:root {
  --bg-button: #ffffff;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  background-color: #243761;
  box-shadow: 0px 0px 15px #01040c;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  color: #e5e5e5;
}
.button:active {
  box-shadow: inset 0px 0px 15px #01040c;
}
.button.double {
  grid-column: span 2;
}
.button.triple {
  grid-column: span 3;
}
.button.operation {
  background-color: #fca311;
  color: #ffffff;
}
.button.operation:active {
  background-color: #fa8231cc;
}
